@model WebApplication3.Models.KargoSirketi
@{
    ViewBag.Title = "Creat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Kargo Sirketi</h2>

@using (Html.BeginForm("Creat", "KargoSirketi", FormMethod.Post))
{
    <div class="form-group">
        <label for="exampleInputEmail1">Kargo Ad</label>
        @Html.TextBoxFor(z => z.Ad, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Kargo Vergi No</label>
        @Html.TextBoxFor(z => z.VergiNo, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Ekle</button>
}
