body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("https://gamepedia.cursecdn.com/lolesports_gamepedia_en/9/99/Be%C5%9Fikta%C5%9F_Esportslogo_square.png?version=15b735bbf3a7a43508a929c45c551b5a");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}